.row {
  display: flex;
  justify-content: center;
}

.days_div {
  background: #fff;
  border: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.Sunday {
  color: red;
}

.Saturday {
  color: blue;
}
